img.normal {
    float: left;
    height: 300px;
    width: 30px;
}

img.alta {
    float: left;
    height: 420px;
    width: 300px;
    margin-left: 150px;
    margin-right: -250px;
    margin-top: 75px;
}

h1 {
    border-bottom-style: inset;
}

pre {
    font-size: 1.2em;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

label, input {
    margin-bottom: 15px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-bottom: 2px solid black;
    background-color: lavenderblush;
}

#btMostrar {
    border: 0 none;
    outline: 0;
    box-shadow: 0;
    padding: 20px;
}